{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/css/.css" />
{% endblock %}


{% block title %} GAME SHOT{% endblock %}

{% block body %}

    {% for key,category in topicList %}
        <div class="card">
            <h5 class="card-header">{{ key }}</h5>
            {% for topic in category %}
                <div class="card-body">
                    <a href="/forum/{{ topic|lower }}?category={{ key|lower }}" class="card-link">{{ topic }}</a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}