
{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
{% endblock %}


{% block navbar %}
<nav>
    {%  set route = app.request.get('_route') %}
    {%  set forum = app.request.uri %}
  	
  	<ul class="PrimaryNav with-indicator">
        <li class="Nav-item {% if route == 'game' %}is-active{% endif %}">
            <a href="{{ path("game") }}">Game</a>
        </li>
        <li class="Nav-item {% if route == 'forum' or 'forum' in forum %}is-active{% endif %}">
            <a href="{{ path("forum")  }}">Forum</a>
        </li>
	    
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="Nav-item {% if route == 'login' %}is-active{% endif %}">
                <a href="{{ path("login") }}">Login</a>
            </li>
            <li class="Nav-item {% if route == 'register' %}is-active{% endif %}">
                <a href="{{ path("register") }}">Sign Up</a>
            </li>
      	{% endif %}
      	
      	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
          	<li class="Nav-item {% if route == 'logout' %}is-active{% endif %}">
                <a href="{{ path("logout") }}">Log Out</a>
            </li>
            <li class="Nav-item {% if route == 'profile' %}is-active{% endif %}">
                <a href="{{ path("profile") }}">Profile</a>
            </li>            
      	{% endif %}
    </ul>
</nav>
{% endblock %}
