{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/css/.css" />
{% endblock %}


{% block title %} GAME SHOT{% endblock %}

{% block body %}

    <h2>{{ posts[0].getThread().getName() }}</h2>

    <div class="card">
        {% for post in posts %}
            <h6 class="card-header">{{ post.getUser().getUsername() }}</h6>
            <div class="card-body">
                <p>{{ post.getContent() }}</p>
            </div>
        {% endfor %}
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="card">
            {{ form_start(form) }}
                {{ form_row(form.content) }}
                {% do form.thread.name.setRendered() %}
            {{ form_end(form) }}
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            You need to be logged in to post messages!!
        </div>
    {% endif %}
{% endblock %}