{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/css/forum.css"/>
{% endblock %}

{% block title %}
    {{ posts[0].getThread().getName() }}
{% endblock %}

{% block body %}

    <h2>{{ posts[0].getThread().getName() }}</h2>

    {% for post in posts %}
        <div class="postContainer">
            <div class="user">
                <p>{{ post.getUser().getUsername() }}</p>
                <img src="/assets/img/forum/default-user.png" alt="">
            </div>
            <div class="post">
                <p>{{ post.getContent()|raw }}</p>
            </div>
        </div>
    {% endfor %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.verified %}
        <div class="card">
            {{ form_start(form) }}
            {{ form_row(form.content) }}
            {% do 
                form.thread.name.setRendered() %}
            {{ form_end(form) }}
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            You need to be logged in or verified (check your mails) to post messages!!
        </div>
    {% endif %}
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script src="/scripts/forum.js"></script>

    <script>
        CKEDITOR.replace('post_form_content', {
            // remove Source button
            removeButtons: 'Source'
        });
    </script>
{% endblock %}