{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/css/forum.css"/>
{% endblock %}

{% block title %}
    {{ posts[0].getThread().getName() }}
{% endblock %}

{% block body %}

    <h2>{{ posts[0].getThread().getName() }}</h2>

    {% for post in posts %}
        <div class="postContainer">
            <div class="user">
                <p>{{ post.getUser().getUsername() }}</p>
                <img src="/assets/img/forum/default-user.png" alt="">
            </div>
            <div class="post">
                <p>{{ post.getContent() }}</p>
            </div>
        </div>
    {% endfor %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="card">
            {{ form_start(form) }}
            {{ form_row(form.content) }}
            {% do 
                form.thread.name.setRendered() %}
            {{ form_end(form) }}
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            You need to be logged in to post messages!!
        </div>
    {% endif %}
{% endblock %}