{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/forum.css"/>
{% endblock %}

{% block title %}
    {{ topic.getName() }}
{% endblock %}

{% block body %}

    <div class="card">
        <div id="container">
            <h5 class="card-header">
                <span id="topicName">{{ topic.getName() }}</span>
                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.verified %}
                    <span>
                        <a href="{{ path('create_thread', { name : topic.getName()|lower } ) }}" type="button" class="btn btn-dark">New thread</a>
                    </span>
                {% endif %}
            </h5>
        </div>
        <div id="categories">
            {% for thread in threads %}
                <div class="card-body">
                    <i class="fas fa-comment"></i>
                    <a href="/forum/{{ topic.getName()|lower }}/thread/{{ thread.getId() }}" class="card-link">{{ thread.getName()}}</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/scripts/forum.js"></script>
{% endblock %}